body {
  background-color: rgb(222, 135, 186);
}
.pocetak, .brPoena {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#pocetakBtn, #ponovoIgraj {
  font-size: 20px;
  font-weight: 700;
  color: #e4198f;
  padding: 8px 29px;
  border-radius: 8px;
}
#ponovoIgraj {
  margin-top: 14px;
}
#prikaz {
  background-color: rgb(247, 225, 238);
  padding: 40px 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius:10px;
}
.header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 4px solid #201d1f;
}
.question {
  margin-bottom:20px;
  font-weight: 900;
  font-size: 20px;
}
.option-div {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 5px;
}
.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}
#sledecePitanje {
  font-size: 20px;
  margin-top: 25px;
  background-color: rgb(216, 120, 176);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  float: right;
}
.hide {
  display: none;
}
.incorrect {
  background-color: #ffdde0;
  color: #fd0404;
  border-color: #d32f2f;
}
.correct {
  background-color: #e7f6d5;
  color: #76f804;
  border-color: #689f38;
}
#ukupnoPoena {
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
}
.brojPoena {
  padding: 50px 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}